@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Web App</h1>
    <div class="card float-left col-md-6 border-light">
        <div class="card-header bg-primary text-white font-weight-bold">Test 1 </div>
        <div class="card-body border shadow">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique semper diam, ut hendrerit odio finibus vel. Aliquam sit amet mauris ut mauris auctor imperdiet. Cras sem diam, auctor eget enim nec, rhoncus porta eros. Nulla id orci a nunc fermentum tempus eget a nisl. Nullam ante urna, varius id metus quis, commodo tincidunt arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec maximus at lectus id tincidunt. Vivamus accumsan vulputate convallis. In sed sapien eleifend, lacinia arcu mattis, placerat lectus. Etiam ornare ultrices cursus. Duis pretium egestas mi, at luctus est feugiat sed. Nulla lobortis vestibulum nulla a imperdiet.

                Quisque aliquet magna odio, eget volutpat ante mollis vitae. Etiam eu arcu luctus magna consequat lacinia. Vivamus tempus maximus faucibus. Ut a ante nec lectus placerat sodales vitae eget sem.
            </p>
        </div>
    </div>
    <div class="card float-left col-md-6 border-light">
        <div class="card-header bg-primary text-white font-weight-bold">Test 1 </div>
        <div class="card-body border shadow">
            <p>
                In sed mattis quam. Etiam malesuada quam et justo viverra, sit amet mollis felis dictum. Quisque pretium leo ac cursus hendrerit. Vestibulum non placerat nisi, tincidunt aliquet lorem. Ut tempor, est eu venenatis mollis, odio dolor ullamcorper tellus, ac venenatis libero enim sed augue. Sed molestie turpis eros, a rhoncus sem interdum quis. Integer tincidunt finibus ligula, in varius felis placerat id. Pellentesque lobortis orci eu elit ornare accumsan. Vivamus non urna et lacus lobortis varius.

                Suspendisse pretium neque at nisi eleifend, sit amet rhoncus justo auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin risus metus, eu iaculis enim ultricies nec. Donec rhoncus sollicitudin sem, eu tempus lectus tempor vitae. In pretium, ex ac mollis volutpat, magna tellus suscipit tellus, eget volutpat odio leo nec lectus. Donec convallis elit in bibendum iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
        </div>
    </div>
</div>
